.git
.gitignore
.dockerignore
DockerFile*
.npmrc

# 전체 envs 디렉토리 무시
envs/

# 기타 빌드 결과 디렉토리 무시
dist
node_modules

# Docker Volumne 디렉토리 무시
data

# 테스트 파일들
test
**/*.spec.ts
**/*.test.ts

# 로그 및 개발 파일들
logs
.DS_Store
Thumbs.db
*.log
.vscode
.idea

# 각종 문서들
*.md
# README.md